.container {
 width: 100%;
}
header.overflow {
  overflow: hidden;
}
p { color: green;}
h1 { color: red;}
ul { color: blue;}
a:hover {
    background-color: #2ff94a;
}
.bold { 
   font-weight: bold;
}
#ranger {
   font-style: italic;
   border: 2px solid black;
 
}
#all {
   margin: 250px;
}
@media (max-width: 600px) {
    body {
        font-size: 10px;
    }
}
#navbar {
  gap: 10px;
  font-size: 40px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #111111;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
  display: flex;
  background-color: #04AA6D;
  position: sticky;
  top: 0;
  float: left;
  border-right: 1px solid #bbbbbb;
  border-right: none;
  position: fixed;
  top: 0;
  width: 100%;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  text-align: left;
  padding: 8px;
  font-size: 20px;
  border: 1px solid #dddddd;
}

a {
  color: #005300;
}