p { color: green;}
h1 { color: red;}
ul { color: blue;}
a:hover {
    background-color: #2ff94a;
}
.bold { 
   font-weight: bold;
}
#ranger {
   font-style: italic;
   border: 2px solid black;
}
#all {
   margin: 250px;
}
@media (max-width: 600px) {
    body {
        font-size: 10px;
    }
}
